<div ng-app="app-test" ng-controller="testAppController as vm">
   
</div>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>var app = angular.module("app-test", []);

        app.controller("testAppController", function ($scope, $http, $timeout, $window) {
            var vm = this;
            vm.redirectOnLoad = function () {
                $window.location.href = '/home/products'; // Replace '/new-page' with the desired URL
            };

            vm.redirectOnLoad();
           

            
        });</script>
}
